#add-club-btn {
    background-color: antiquewhite;
}

#add-score-btn {
    background-color: antiquewhite;
}

#best-score {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btn-container {
    display: flex;
    flex-direction: row;
}